<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand text-center" style="margin-left:40%;color: #000;font-weight: bold;">User Details</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    </div>
  </div>
</nav>
<div style="background-color: #c65353">
<div class="container">
<form>
<div class="row" style="padding: 20px;">
<div class="col-md-6" style="padding-right: 30px;">
<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label">First Name</label>
  <div class="col-7">
    <input class="form-control" type="text"  id="example-text-input">
  </div>
</div><div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label">Last Name</label>
  <div class="col-7">
    <input class="form-control" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-3 col-form-label">Email</label>
  <div class="col-7">
    <input class="form-control" type="email"  id="example-email-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-3 col-form-label">URL</label>
  <div class="col-7">
    <input class="form-control" type="url"  id="example-url-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-3 col-form-label">Mobile</label>
  <div class="col-7">
    <input class="form-control" type="tel"  id="example-tel-input">
  </div>
</div>
</div>
<div class="col-md-6" style="padding-left: 30px;">
<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label">Github</label>
  <div class="col-7">
    <input class="form-control" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label">Twitter</label>
  <div class="col-7">
    <input class="form-control" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label">LinkedIn</label>
  <div class="col-7">
    <input class="form-control" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-date-input" class="col-3 col-form-label">DOB</label>
  <div class="col-7">
    <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
  </div>
</div>
</div>
</div>
<div class="row">
  <button style="margin-left:45%;" type="button" class="btn btn-outline-success btn-lg">Submit</button>
</div>
</form></div>
</div>
<!-- Footer -->
<!-- Footer -->
<footer class="container-fluid  text-center" style="background-color: #c65353">
  <p>Copyright @ Ujjwal Kaushik<a href="https://www.w3schools.com">www.w3schools.com</a></p> 
</footer>