<div class = "wrapper">
<div class='square-box'>
<div>
    <div class='square-content'>
<div>
    	<form class="form-horizontal" style="padding: 50px;">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" ng-model="uname" placeholder="Enter email" autocomplete="off">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input type="password" class="form-control" id="pwd" ng-model="pwd" placeholder="Enter password" autocomplete="off">
    </div>
  </div>
  <div class="form-group" ng-if="warning"> 
    <div class="col-sm-10">
    <div class="alert alert-warning">
  <strong>Warning!</strong> Username or Password is Incorrect
</div>
    </div>
  </div>
    <div class="form-group" ng-if="success"> 
    <div class="col-sm-10">
    	<div class="alert alert-success">
  <strong>Success!</strong> Logged In
</div>
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-10">
      <button type="submit" ng-click="login()" class="btn btn-primary btn-block">Login</button>
    </div>
  </div>
</form>
    </div>
    </div>
  </div>
  </div>
  </div>