<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: #000;font-weight: bold;" ui-sref="edit">Edit Profile</a>
    </div>
  </div>
</nav>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <img src="img/angular1.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
  <h3>I'm a MEAN Stack Developer</h3>
</div>

<!-- Second Container -->
<!-- Footer -->
<!-- <footer class="container-fluid bg-4 text-center">
  <p>Copyright @ Ujjwal Kaushik<a href="https://www.w3schools.com">www.w3schools.com</a></p> 
</footer> -->
