<!DOCTYPE html>
<html ng-app="app" ng-controller="MyController as ctrl">

  <head>
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.js"></script>
    <script src="datetime-picker.js"></script>
    <script src="script.js"></script>
  </head>

  <body style="padding:10px;" class="container-fluid">
    <form name="MyForm" class="form-horizontal" novalidate ng-submit="MyForm.$valid && submit()">
      <div class="form-group" ng-class="{'has-error': MyForm.$submitted && MyForm.date1.$invalid}">
        <label class="col-sm-2 control-label">NULL model with format</label>
        <div class="col-sm-10">
          <p class="input-group">
            <input name="date1" type="text" class="form-control" datetime-picker="MM-dd-yyyy HH:mm" ng-model="dates.date1" is-open="open.date1" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date1')"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <button type="submit" class="btn btn-success">
				OK
			</button>
    </form>
  </body>

</html>